xsd files/parameters.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:include schemaLocation="common.xsd" />

  <xs:simpleType name="unitvalue">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]+[\.]?[0-9]*([ ]*(m|km|ms|s|min|h))?" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="colorvalue">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="255" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="locations">
    <xs:annotation>
      <xs:documentation>
        Possible location types. Specify multiple separated by space. Allows all if omitted
      </xs:documentation>
    </xs:annotation>
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="infopoint" />
          <xs:enumeration value="missionoffer" />
          <xs:enumeration value="platform" />
          <xs:enumeration value="tradeoffer" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>

  <xs:complexType name="viewangle">
    <xs:annotation>
      <xs:documentation>
        Maximum angle away from crosshair center (horizontal or vertical), in positive degrees (default: 180, i.e. no restriction)
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="max">
      <xs:simpleType>
        <xs:restriction base="xs:integer">
          <xs:minInclusive value="1" />
          <xs:maxInclusive value="180" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:simpleType name="chance">
    <xs:annotation>
      <xs:documentation>
        Chance value, defaults to 100.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="100" />
    </xs:restriction>
  </xs:simpleType>

  <xs:attributeGroup name="highlightcolour">
    <xs:annotation>
      <xs:documentation>
        Control highlighting options
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="r" type="colorvalue">
      <xs:annotation>
        <xs:documentation>
          Red color value (0-255, default: 0)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="g" type="colorvalue">
      <xs:annotation>
        <xs:documentation>
          Green color value (0-255, default: 0)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="b" type="colorvalue">
      <xs:annotation>
        <xs:documentation>
          Blue color value (0-255, default: 0)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="a" type="colorvalue">
      <xs:annotation>
        <xs:documentation>
          Alpha value (0-255, default: 255)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="duration" type="xs:float" use="required">
      <xs:annotation>
        <xs:documentation>
          Duration of the highlight effect
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="frequency" type="xs:float">
      <xs:annotation>
        <xs:documentation>
          Frequency of oscillation effect (default: 0, no oscillation)
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="minalpha">
      <xs:annotation>
        <xs:documentation>
          Minimum alpha value for oscillation effect (0.0-1.0, default: 0)
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:float">
          <xs:minInclusive value="0" />
          <xs:maxInclusive value="1" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="maxalpha">
      <xs:annotation>
        <xs:documentation>
          Maximum alpha value for oscillation effect (0.0-1.0, default: 1)
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:float">
          <xs:minInclusive value="0" />
          <xs:maxInclusive value="1" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:complexType name="highlightdef">
    <xs:sequence>
      <xs:element name="outline" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Outline effect
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attributeGroup ref="highlightcolour" />
        </xs:complexType>
      </xs:element>
      <xs:element name="fill" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Fill effect
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attributeGroup ref="highlightcolour" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="scan">
    <xs:sequence>
      <xs:element name="outline" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Outline effect
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attributeGroup ref="highlightcolour" />
        </xs:complexType>
      </xs:element>
      <xs:element name="fill" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Fill effect
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attributeGroup ref="highlightcolour" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="minlevel" use="required">
      <xs:annotation>
        <xs:documentation>
          Minimum scan level to trigger this effect
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:integer">
          <xs:minInclusive value="0" />
          <xs:maxInclusive value="9" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="highlight">
    <xs:sequence>
      <xs:element name="infopoint" minOccurs="0" maxOccurs="1" >
        <xs:complexType>
          <xs:sequence>
            <xs:element name="target" type="highlightdef" minOccurs="0" maxOccurs="1" />
            <xs:element name="environmentobject" type="highlightdef" minOccurs="0" maxOccurs="1" />
            <xs:element name="scan" type="scan" minOccurs="0" maxOccurs="9" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="platform" minOccurs="0" maxOccurs="1" >
        <xs:complexType>
          <xs:sequence>
          <xs:element name="target" type="highlightdef" minOccurs="0" maxOccurs="1" />
          <xs:element name="environmentobject" type="highlightdef" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="tradeoffer" minOccurs="0" maxOccurs="1" >
        <xs:complexType>
          <xs:sequence>
            <xs:element name="target" type="highlightdef" minOccurs="0" maxOccurs="1" />
            <xs:element name="environmentobject" type="highlightdef" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="scriptparams">
    <xs:sequence>
      <xs:element name="category" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="param" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="name" type="idname" use="required" />
                <xs:attribute name="value" type="expression" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="name" type="idname" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="anycontent">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any processContents="skip" />
    </xs:sequence>
    <xs:anyAttribute processContents="skip" />
  </xs:complexType>

  <xs:element name="parameters">
    <xs:annotation>
      <xs:documentation>
        Parameters library document node
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element name="playerflight" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="playerfirstperson" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="playercamera" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="environmentobject" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="highlight" type="highlight" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>
              Highlight settings
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="scanlevel" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="holomap" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="minigame" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="longrangescan" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="drop" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="hintpositions" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="physics" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="bonuscontent" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="damagestate" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="engine" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="controlpanel" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="materials" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="economy" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="hazardwarning" type="anycontent" minOccurs="0" maxOccurs="1" />
        <xs:element name="scriptparams" type="scriptparams" minOccurs="0" maxOccurs="1" />
      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>
